body {
  font-family: fantasy;
}

#wrapper{
  display: grid;
  /* grid-template-rows: 6fr .75fr 8fr .75fr; */
  /* grid-template-columns: 2fr  5fr  2fr; */
  grid-template-columns: 2fr  5fr  2fr;
  grid-template-rows: auto auto auto;

  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 15px 15px rgba(200,200,200,.14);
  /* position: relative */
}
header{
  text-align: center;;
  grid-area: 1 / 1 / 2 / 4;
}

main{
    grid-area: 3 / 2 / 4 / 3;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #2cacb1;
    /* min-height: 700px; */
}

#form-wrapper {
  display: none;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-item {
  margin-right: 1.8rem;
}

label.primary {
  display: block;
  margin: 0.4em 0;
}

label::after {
  content: ":";
}

button, input[type="submit"] {
  margin-top: 1rem;
}

#mountain-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.mountain-list-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #20437c;
  border-radius: 5%;
  background: #ddeaff;
}
